.App {
  text-align: center;
}

body{
  background-image: 
  url('../public/filmBackground2.webp');
  background-repeat: no-repeat;
  background-attachment: fixed; /*Use 'scroll' to make the header and footer scroll with the background.*/
  background-size: cover;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

/*_________________________________________________Home Page Glitch Animation*/
.homeH1{ 
  display: flex;
  width: 100vw;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 60px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -5px;
  text-transform: uppercase;
}

.homeH1{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

div:before,
div:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}
/*___________________________________________^^^Home Page Glitch Animation^^^*/



.discoverLink {
  color: #fff;
  transition: transform 0.3s ease-in-out;
}
.discoverLink:hover {
  color: #ccc;
  letter-spacing: 2px;
  transform: scale(1.1);
}

.topRatedLink {
  color: #fff;
  transition: transform 0.3s ease-in-out;
}
.topRatedLink:hover {
  color: #ccc;
  letter-spacing: 2px;
  transform: scale(1.1);
}

.upcomingLink {
  transition: transform 0.3s ease-in-out;
  color: #fff;
}
.upcomingLink:hover {
  color: #ccc;
  letter-spacing: 2px;
  transform: scale(1.1);
}